.signInForm{
    background-color:  rgba(83, 161, 65, 0.5);
    clip-path:polygon(0 0, 00% 00%, 100% 0%, 105% 150%);
    padding-right: 50px;
    height: 100vh;
}

.inp{
    height: 2vmin;
    padding: 7px;
    width:30vmin;
    margin: 5px;
    display: block;
    margin-left:auto;
}

.regis{
    text-align: left;
    font-size: 160%;
    display: block;
    width:33vmin;
    float: inline-end;
    display: block;
    margin: 10px;
    margin-top: 4;
    margin-left:auto;
    cursor: pointer;
}
.btnw{
    width:30vmin;
    height: 5vmin;
    float: inline-end;
    display: block;
    margin: 5px;
    font-size: 100%;
    margin-left:auto;
    cursor: pointer;
    padding:5px;
    background-color:  rgb(83, 161, 65, 0.5);
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.5);
    margin-top: 5px;
    margin-bottom: 4px;
    text-align: left;
 
  }

  .regis{
    text-align: left; 
    font-size: 100%;
    display: block;
    width:30vmin;
    float: inline-end;
    display: block;
    margin: 10px;
    margin-top: 4;
    margin-left:auto;
    cursor: pointer;
  }